{% extends 'base.html' %}
{% load static %}

{# 标题 #}
{% block title %}
    mysite|blog
{% endblock %}

{# 点击激活状态 #}
{% block nav_blog_active %}active{% endblock %}

{# 页面内容 #}
{% block content %}
        <div id="container">
            <div style="padding-top: 100px">
                <div class="row" style="margin: 0">
                    <div id="blog-type">
                        <div class="col-xs-12 col-md-8 col-lg-6 col-lg-offset-1">
                            <div class="panel panel-default">
                               <div class="panel-heading">
                                   <span>{% block blog_list_title %}博客列表{% endblock %}</span>
                                   <div class="dropdown" style="float:right; margin-top: -7px;">
                                      <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        全部分类
                                          <span class="icon-bar"></span>
                                      </button>
                                      <ul class="dropdown-menu" id="type" style="min-width: 0">
                                           {% for blog_type in data.blog_types %}
                                                <li><a class="base blog-type">{{ blog_type }}</a></li>
                                           {% empty %}
                                                <li>暂无分类</li>
                                           {% endfor %}
                                      </ul>
                                   </div>
                               </div>
                                <div class="panel-body">
                                  {% for blog in data.page_of_blogs %}
                                   <div class="content" style="position: relative; padding: 0 0 10px 0; border-bottom: 2px solid #708090; ">
                                       <div class="content-blog">
                                           <div class="title" style="font-size: 20px; padding: 10px;">
                                               <a href="{% url 'blog:blog_detail' blog.pk %}">{{ blog.title|truncatechars_html:50 }}</a>
                                           </div>
                                           <div class="author" style="position: absolute;right: 0;top:4px;text-align: center;padding: 10px;">
                                               <p>by：{{ blog.author }}</p>
                                           </div>
                                       </div>
                                       <nav class="content">
                                           {% autoescape off %}{{ blog.content|truncatechars_html:40 }}{% endautoescape %}
                                       </nav>
                                   </div>
                                   {% empty %}
                                        <h3>--暂无， 敬请期待！--</h3>
                                   {% endfor %}
                               </div>
                            </div>
                            <div id="footer" aria-label="Page navigation" class="visible-lg-block visible-md-block" style="text-align: center; bottom: 10px; width:100%">
                                <ul class="pagination">
                                  {% if data.cut_page != 1 %}
                                    <li><a href="?p=1">首页</a></li>
                                  {% else %}
                                    <li class="disabled"><span>首页</span></li>
                                  {% endif %}

                                  {% if data.page_of_blogs.has_previous %}
                                    <li><a href="?p={{ page_of_news.previous_page_number }}" aria-label="Previous"><span aria-hidden="true"><<<</span></a></li>
                                  {% else %}
                                        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true"><<<</span></a></li>
                                  {% endif %}


                                  {% for i in data.num_list %}
                                     {% if data.cut_page == i %}
                                      <li class="active"><a href="?p={{ i }}">{{ i }}</a></li>
                                     {% else %}
                                      <li><a href="?p={{ i }}">{{ i }}</a></li>
                                     {% endif %}

                                  {% endfor %}


                                  {% if data.page_of_blogs.has_next %}
                                    <li>
                                      <a href="?p={{ data.page_of_news.next_page_number }}" aria-label="Next">
                                        <span aria-hidden="true">>>></span>
                                      </a>
                                    </li>
                                  {% else %}
                                    <li class="disabled">
                                      <a href="#" aria-label="Next">
                                        <span aria-hidden="true">>>></span>
                                      </a>
                                    </li>
                                  {% endif %}

                                  {% if data.cut_page != data.paginator.num_pages %}
                                    <li><a href="?p={{ paginator.num_pages }}">尾页</a></li>
                                  {% else %}
                                    <li class="disabled"><span>没有了！</span></li>
                                  {% endif %}

                                </ul>
                                <h4>
                                      一共{{ data.paginator.num_pages }}页， 当前第{{ data.cut_page }}页
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                $('a.blog-type').click(function () {
                    var type = $(this).text();
                    $.pjax({
                        url: '{% url "blog:get_blog_type" %}',
                        data: {'type': type},
                        container: '#blog-type',
                    })
                })
            </script>
        </div>

{% endblock %}