{% extends 'base.html' %}
{% load static %}

{# 标题 #}
{% block title %}
    mysite|blog
{% endblock %}

{# 点击激活状态 #}
{% block nav_blog_active %}active{% endblock %}

{# 页面内容 #}
{% block content %}
    {% if user.is_authenticated %}
        <div class="head col-lg-8 col-lg-offset-2 col-xs-12 col-md-10 col-md-offset-1">
            <div id="blog">
                <div class="detail-title">
                    <h2>{{ blog.title }}</h2>
                    <h4>--{{ blog.author }}</h4>
                </div>
                <nav class="content">{{ blog.content|safe }}</nav>
            </div>
        </div>
        <div style="clear: both"></div>
{#        <div class="row">#}
{#            <div class="col-xs-10 col-xs-offset-1">#}
{#                <div class="comment-area">#}
{#                    <h3 class="comment-area-title">提交评论</h3>#}
{#                        <form id="comment_form" action="" method="POST" style="overflow:hidden">#}
{#                            <label>1},欢迎评论~</label>#}
{#                            <div id="reply_content_container" style="display: none">#}
{#                                <p id="reply_title">回复：</p>#}
{#                                <div id="reply_content"></div>#}
{#                            </div>#}
{#                            <span id="comment_error" class="text-danger pull-left"></span>#}
{#                            <span id="comment_success" class="text-danger pull-left"></span>#}
{#                            <input type="submit" value="评论" class="btn btn-primary pull-right">#}
{#                        </form>#}
{##}
{#                        您尚未登录,登录后才能评论！#}
{#                    <a class="btn btn-primary" href="{% url 'login' %}?from={{ request.get_full_path }}">登录</a>#}
{#                    <span>or</span>#}
{#                    <a class="btn btn-danger" href="{% url 'register' %}?from={{ request.get_full_path }}">注册</a>#}
{##}
{#                </div>#}
{#                <div class="comment-area">#}
{#                    <h3 class="comment-area-title">评论列表</h3>#}
{#                    <div id="comment_list">#}
{##}
{#                            <div id="root_{{ comment.pk }}" class="comment">#}
{#                                <span>1</span>#}
{#                                <span>2:</span>#}
{#                                <div id="comment_{{ comment.pk }}">#}
{#                                    1#}
{#                                </div>#}
{#                                <div class="like">#}
{#                                    <span class="glyphicon glyphicon-thumbs-up "></span>#}
{#                                    <span class="liked-num"></span>#}
{#                                </div>#}
{#                                <a>回复</a>#}
{##}
{#                                    <div class="reply">#}
{#                                        <span>1</span>#}
{#                                        <span>2</span>#}
{#                                        <span>回复</span>#}
{#                                        <span>3</span>#}
{#                                        <div id="comment_{{ reply.pk }}">#}
{#                                            4#}
{#                                        </div>#}
{#                                        <div class="like">#}
{#                                            <span class="glyphicon glyphicon-thumbs-up "></span>#}
{#                                            <span class="liked-num">5</span>#}
{#                                        </div>#}
{#                                        <a href="">回复</a>#}
{#                                    </div>#}
{##}
{#                            </div>#}
{##}
{#                            <span id="no_comment">暂无评论，快去留下第一条评论吧~</span>#}
{##}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
    {% else %}
        <div class="col-xs-10 col-xs-offset-1 col-lg-2 col-lg-offset-5 col-sm-6 col-sm-offset-3" style="padding: 0; margin-top: 150px">
            <div class="login" style="display: block;margin-top: 100px">
                <div class="login-form">
                    <input type="text" class="input-text" id="username" name="username" placeholder="手机号/电子邮箱">
                </div>
                <div class="login-form">
                    <input type="password" class="input-text" id="password" name="password" placeholder="密码">
                </div>
                <button id="submit_1" type="submit" class="btn btn-form-common form-control">
                    <span>登陆</span>
                </button>
                <span id="login_medal_tip" class="text-danger"></span>
            </div>
        </div>
    {% endif %}
{% endblock %}