{% extends 'base.html' %}
{% load static %}

{# 标题 #}
{% block title %}
    音乐
{% endblock %}

{# 点击激活状态 #}
{% block nav_music_active %}active{% endblock %}

{# 页面内容 #}
{% block content %}
<div id="container">
    <div style="position: relative;">
    <div id="loop" style="position: absolute; display: block;left: 0; right: 0; text-align: center">
        <video loop="loop" playsinline="playsinline" autoplay="autoplay" muted style="overflow: hidden">
            <source src="../../../media/篝火.mp4" type="video/mp4" style="overflow: hidden">
        </video>
    </div>
    <div class="search">
        <span class="glyphicon glyphicon-eye-open eye" style="font-size: 25px; cursor: pointer; z-index: 2; color: #fd050559"></span>
        <span class="glyphicon glyphicon-eye-close eye" style="font-size: 25px; cursor: pointer; display: none;z-index: 2; color: #fd050559"></span>
        <div class="col-lg-2 col-sm-4 col-sm-offset-4 col-lg-offset-5 col-xs-8 col-xs-offset-2">
            <div class="input-group">
                <input type="text" class="yuan-left form-control" name="ql" placeholder="搜索歌曲、歌手">
                <span class="input-group-btn">
                    <button class="yuan-right btn btn-default" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        function isMobile() {
            var userAgentInfo = navigator.userAgent;
            var mobileAgents = [ "Android", "iPhone", "SymbianOS", "Windows Phone", "iPad","iPod"];
            var mobile_flag = false;
            //根据userAgent判断是否是手机
            for (var v = 0; v < mobileAgents.length; v++) {
                if (userAgentInfo.indexOf(mobileAgents[v]) > 0) {
                    mobile_flag = true;
                    break;
                    }
                }
            var screen_width = window.screen.width;
            var screen_height = window.screen.height;

            //根据屏幕分辨率判断是否是手机
            if(screen_width < 500 && screen_height < 800){
                 mobile_flag = true;
             }
            return mobile_flag;
        }
        var mobile_flag = isMobile(); // true为PC端，false为手机端
        if(mobile_flag){
            $('.search-result').css('height', '400px');
            $('#loop').css({'top':'100px', 'padding-top':'40px', 'padding-bottom':'40px'});
            $('#loop video').attr('src', '/media/hills.mp4').css('width', '100%');
            $('.footer').remove();
            $('body').css('background-color', '#292935')
        }
    })
    $('.yuan-right').click(function () {
        $.ajax({
            url: '{% url "song:search_song" %}',
            type: 'get',
            data: {
                'word': $('.yuan-left').val(),
            },
            success: function (data) {
                if(data.status === "SUCCESS"){
                    $(".result").empty();
                    if($('.result-list').hide()){
                        $('.glyphicon-eye-open').click();
                    }
                    let total = data.info.length;
                    for (var i=0;i<total;i++) {
                        let id = data.info[i].rid;
                        let time = data.info[i].songTimeMinutes;
                        let name = data.info[i].name;
                        let artist = data.info[i].artist;
                        $('.result').append('<tr class="rid" style="cursor: pointer;"><th class="num"></th><td class="name"></td><td class="artist" style="max-width: 500px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;"></td></tr>');
                        $('.name').last().attr({'id': id, 'time': time}).html(name);
                        $('.num').last().html(i + 1);
                        $('.artist').last().html(artist + '<button onclick="clean(this)" type="button" class="close" aria-label="Close" style="color: #e8e6e5; opacity: 1; font-size: 15px; padding-right: 18px" ><span aria-hidden="true">&times;</span></button>');
                        document.getElementById(id).addEventListener("click", function () {
                            $('.song-name').text(name + ' -- ' + artist);
                            totalTime.text(time);
                            get_url(id);
                        });
                    }
                    }else {
                        $('.yuan-left').attr('placeholder','搜索内容不能为空！！');
                    }

            }
        })
    })
    // 清空搜索列表
    $('.glyphicon-trash').click(function () {
        $(".result").empty();
    })
    // 收起音乐列表
    $('.glyphicon-eye-close').click(function () {
        $('.result-list').hide();
        $(this).hide();
        $('.glyphicon-eye-open').show();
    })
    // 展开音乐列表
    $('.glyphicon-eye-open').click(function () {
        $('.result-list').show();
        $(this).hide();
        $('.glyphicon-eye-close').show();
    })
</script>
</div>
{% endblock %}
